[user]
	name = Benoît Faucon
	email = benoit.faucon@terality.com
[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
	ci = commit
	st = status
	br = branch
[core]
	editor = vim
	excludesfile = /home/benoit/.gitignore_global
